@media (min-width: 320px) and (max-width: 575.98px) {
	/*====================== reponsive_for_Extra_small  Start ===========================*/

	.navbar {
		padding: 5px 0;
		align-items: center;
	}
	.navbar .navbar-toggler{
		border: 0;
		color: #FFA800;
	}
	.navbar-toggler:focus {
		box-shadow: none !important;
	}
	.navbar .nav-link:hover {
		color: var(--prmcolor);
		transform: scale(1);
	}
	.navbar-collapse {
		transition: 0.4s;
	}
	.navbar .nav-link {
		font-size: 16px;
		line-height: 24px;
	}
	.navbar .navbar-nav {
		border-radius: 5px;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 12px;
		justify-content: space-between;
		column-gap: 0px;
		row-gap: 8px;

	}
	.navbar-nav li{
		-webkit-box-shadow: inset 4px 7px 16px 8px rgba(0,0,0,0.49);
		-moz-box-shadow: inset 4px 7px 16px 8px rgba(0, 0, 0, 0.407);
		box-shadow: inset 4px 7px 16px 8px rgba(0, 0, 0, 0.145);
		padding: 4px 0;
		width: 50%;
		border-radius: 10px;
		text-align: center;
	}
	.navbar-nav li a {
		-webkit-box-shadow: 4px 7px 16px 8px rgba(255,255,255,1);
-moz-box-shadow: 4px 7px 16px 8px rgba(255,255,255,1);
box-shadow: 4px 7px 16px 8px rgba(255,255,255,1);
padding: 4px 0;
border-radius: 10px;

	}

	.navbar .abtn {
		text-align: center;
	}
	.navbar .abtn button {
		width: 70%;
	}

	/*====================== navbar end ===========================*/


	.banner_part {
		padding: 200px 0 75px;
	}
	.banner_part .container h1 {
		font-size: 32px;
		line-height: 112%;
		margin-bottom: 12px;
	}
	.banner_part .container p {
		font-size: 11px;
		line-height: 19px;
		margin-bottom: 26px;
	}
	.abtn button {
		padding: 16px 29px;
		border-radius: 8px;
		font-size: 14px;
		line-height: 12px;
	}
	.banner_slider .slick-dots li button {
		height: 12px;
		width: 12px;
		font-size: 0;
	}
	.banner_slider .slick-dots {
		bottom: 34px;
	}

	/*====================== banner  end ===========================*/
	#success_part {
		margin-top: 60px;
		padding: 0 10px;
	}
	#success_part .row {
		padding: 60px 34px 60px;
		border-radius: 10px;
	}
	#success_part .row .left h4 {
		font-size: 18px;
		margin-bottom: 9px;
		text-align: center;
	}
	#success_part .row .left h3 {
		font-size: 25px;
		text-align: center;
	}
	#success_part .row .right {
		flex-direction: column;
	}
	#success_part .row .right .child h3 {
		font-size: 30px;
		margin-bottom: 5px;
	}
	#success_part .row .right .child p {
		font-size: 16px;
		margin-bottom: 11px;
	}

	/*====================== success  end ===========================*/

	#service_part {
		padding: 60px 0 60px;
	}
	#service_part .container .title {
		margin-bottom: 37px;
	}
	.title h2 {
		font-size: 30px;
	}
	.title p {
		font-size: 14px;
		line-height: 22px;
		margin: 10px auto 0;
	}
	#service_part .container .row .child {
		padding: 40px 20px 19px;
		box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
	}
	#service_part .container .row .child h3 {
		font-size: 24px;
		margin: 21.5px 0 10px;
	}
	#service_part .container .row .child p {
		font-size: 14px;
		line-height: 24px;
	}

	/*====================== service  end ===========================*/

	#work_part {
		padding: 60px 0;
	}
	#work_part .title {
		margin-bottom: 37px;
	}
	#work_part .container .row {
		row-gap: 12px;
	}
	#work_part .container .row .child .text {
		padding: 0 8px;
	}
	#work_part .container .row .child h3 {
		font-size: 18px;
		margin-bottom: 3px;
		margin-top: 21px;
	}
	#work_part .container .row .child p {
		font-size: 14px;
		line-height: 20px;
		margin: 0px auto 22px;
	}

	/*====================== work_part  end ===========================*/

	#idea_part {
		padding: 60px 0 0;
	}
	#idea_part .title {
		margin-bottom: 40px;
	}
	#idea_part .main .idea_row {
		row-gap: 20px;
		padding: 20px 6px;
		background: url(../pic/Agence_work/idea_group.jpg);
		position: relative;
		z-index: 1;
	}
	#idea_part .main .idea_row:before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.7);
		z-index: -1;
	}
	#idea_part .main .four_ideas .child {
		display: flex;
		align-items: center;
		column-gap: 15px;
	}
	#idea_part .main .four_ideas .child .text {
		background: rgba(255, 255, 255, 0.436);
		padding: 5px 4px;
		border-radius: 10px;
	}
	#idea_part .main .four_ideas .child .text h3 {
		margin: 0px 0px 2px;
		font-size: 19px;
	}
	#idea_part .main .four_ideas .child .text p {
		font-size: 13px;
		line-height: 20px;
	}
	#idea_part .main .four_ideas:nth-child(3) .child,
	#idea_part .main .four_ideas:nth-child(4) .child {
		flex-direction: row-reverse;
		text-align: right;
	}
	#idea_part .main .team {
		display: none;
	}

	/*====================== idea_part  end ===========================*/

	#review_part {
		padding: 60px 0;
	}
	#review_part .title {
		margin-bottom: 40px;
	}
	#review_part .main .review_slides .slideeee {
		padding: 24px 16px;
		border-radius: 20px;
		margin: 0;
	}
	#review_part .main .review_slides .slideeee p {
		margin: 5px 0;
		font-size: 13px;
		line-height: 18px;
	}
	#review_part .main .review_slides .slideeee .icon i {
		margin-bottom: 7px;
	}
	#review_part .main .review_slides .slideeee .user .text h4 {
		font-size: 14px;
		line-height: 100%;
	}
	#review_part .main .review_slides .slideeee .user .text p {
		font-size: 11px;
		margin-top: 3px;
		line-height: 14px;
	}
	#review_part .main .review_slides .rft_Arrow {
		height: 27px;
		width: 74px;
		background: #4756df;
		border-radius: 5%;
		text-align: center;
		line-height: 27px;
		color: var(--white);
		position: absolute;
		top: 107%;
		right: 12px;
		transform: translateY(0%) translateX(2%);
		z-index: 999;
	}
	#review_part .main .review_slides .lft_Arrow {
		height: 27px;
		width: 74px;
		background: #4756df;
		border-radius: 5%;
		text-align: center;
		line-height: 27px;
		color: var(--white);
		position: absolute;
		top: 107.5%;
		left: 12px;
		transform: translate(0%, -5%);
		z-index: 999;
	}

	/*====================== review_part  end ===========================*/

	#quote_part {
		padding: 55px 0px;
	}
	#quote_part .row .title .p1 {
		max-width: 514px;
		margin: 10px auto 0px 0 !important;
	}
	#quote_part .row .title {
		text-align: center;
		margin-bottom: 20px;
	}
	#quote_part .row .form_sec form {
		border-radius: 10px;
		padding: 35px 13px 35px;
	}
	#quote_part .row .form_sec h3 {
		font-size: 25px;
		margin-bottom: 23px;
	}

	/*====================== quote_part  end ===========================*/

	footer {
		padding-top: 55px;
	}
	footer .footer_left {
		max-width: 356px;
		text-align: center;
		margin: 0 auto;
	}
	footer .footer_left p {
		margin: 19px auto;
		font-size: 14px;
		line-height: 20px;
	}
	footer .container .part {
		text-align: center;
	}
	footer .container .part h3 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	footer .container .part ul {
		margin-bottom: 28px;
	}
	footer .container .part li a {
		font-size: 14px;
		line-height: 22px;
	}
	footer .copy .container {
		padding: 3px 0;
	}
	footer .copy .container p a {
		font-size: 10px;
		line-height: 0px;
		color: #d0d0d0;
	}
	/*====================== reponsive_for_Extra_small  end ===========================*/
}
